.form-container {
  width: 80%; /* Adjust the width as needed */
  max-width: 400px; /* Set a maximum width */
  padding: 20px; /* Add some padding */
  border: 4px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.logo-container {
  margin-bottom: 20px;
}

.registration-login {
  display: flex;
  margin-bottom: 20px;
}

.registration-tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.activeColor {
  background-color: #ed563b;
  color: #fff;
}

.pointer {
  cursor: pointer;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.forgot-password {
  cursor: pointer;
  text-decoration: underline;
}

.submit-button {
  padding: 10px;
  border: none;
  background-color: #ed563b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #555;
}


